* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Reem Kufi", sans-serif;
}

a {
  text-decoration: none;
}
body {
  margin: 0px;
  font-size: 0px;
}
.padre {
  display: flex;
  flex-flow: column nowrap;
}

/* HEADER */
.header {
  background: url(../imagenes/1portada.jpeg);
  background-position: center;
  background-attachment: contain;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
}
.menu {
  display: flex;
  flex-flow: row nowrap;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
}
.logo {
  
}
.logo a {
  color: #fff;
  font-size: 30px;
}

.logo a:hover {
  color: #343434;
}

.nav {
  display: flex;

  background: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  justify-content: center;
}
.nav a {
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  padding: 0 10px;
  letter-spacing: 2px;
}
.nav a:hover {
  color: #343434;
}
.social {
  display: flex;
  justify-content: flex-end;
}
.social a {
  font-size: 18px;
  color: #fff;
  padding: 0 5px;
}

.social a:hover {
  color: #343434;
}
.texto-principal {
  height: 180px;
  display: flex;
  align-items: center;
  padding: 20px;
  margin-top: 10px;
}
.texto-principal p{
  color: #fff;
  font-size: 1.4rem;
  font-weight: 200;
  text-align: center;
  line-height: 1.6;
}

/* CONTAINER FORM */
.container-form {
  width: 90%;
  margin: 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  height: auto;
}
.info-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  padding: 2%;
}

.formulario {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}
.formulario form{
  margin: 8px
}

.container-form h2 {
  margin-bottom: 15px;
  font-size: 35px;
  color: orangered;
}

.container-form p {
  margin-bottom: 30px;
  font-size: 17px;
  margin-bottom: 30px;
}

.container-form li {
  color: orangered;
  font-size: 17px;
}

.container-form a {
  margin-bottom: 15px;
  font-size: 17px;
  color: black;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  font-weight: 700;
}

.container-form form .campo,
textarea {
  width: 100%;
  padding: 15px 10px;
  font-size: 15px;
  border: 1px solid #dbdbdb;
  margin-bottom: 20px;
  border-radius: 3px;
}

.container-form form textarea {
  max-width: 530px;
  min-width: 530px;
  min-height: 140px;
  max-height: 150px;
}

.container-form .btn-enviar {
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: 0px;
  background: orangered;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  transition: all 300ms;
}

.container-form .btn-enviar:hover {
  background: #e39403;
  
}

/* FOOTER */
.footer {
  background: #6cc3b6;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 100%;
  padding: 2%;
  
}
.pie p {
  font-size: 15px;
}


/* MOBILE FIRST */

/* 440px */
@media only screen and (min-width: 440px) {

 
}

/* 768px */
@media only screen and (min-width: 768px) {
  
  
  .container-form{
    height: 100%;
  }
  
  
  
  .info-form {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding: 2%;
    
    

  }
  
  .formulario {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    
   
  }

  .container-form form textarea {
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
    margin-right: 5px;
  }

  .footer{

  }
}