* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Reem Kufi', sans-serif;
}

a{
  text-decoration: none;
}
body{
  margin: 10px;
}
.padre{
display: flex;
flex-flow: column nowrap;
}
/* HEADER */
.header {
background: url(../imagenes/1portada.jpeg);
background-position:center;
background-attachment: contain;
background-size: cover;
display: flex;
flex-flow: column nowrap;
}
.menu {
background: rgba(0 0 0 1);
display: flex;
flex-flow: row nowrap;
height: 60px;
align-items: center;
border-bottom: 1px solid rgba(255, 255, 255, .5 );
}
.logo {
  flex: 1 1 auto;
}
.logo a{
  color: #bbb ;
  font-size: 30px;
}

.logo a:hover{
  color: #343434;
}


.nav{
  
  flex: 5 1 auto;
  
}
.nav a{
  color: #ffff;
  font-size: 11px;
  text-transform: uppercase;
  padding: 0 10px;
  letter-spacing: 2px;
}
.nav a:hover{
  color: #343434;
}
.social{
  display: flex;
  flex: 1 1 auto;
  
}
.social a{
  font-size: 18px;
  color: #fff;
  padding: 0 5px;
}

.social a:hover{
  color: #343434;
}
.texto-principal{
  background: #F8F1F1;
}
h1{
  background: #F8F1F1;
}



/* SECTION */
.section{
  background: #30A2FF;
  display: flex;
  flex-wrap: wrap;
}
.articulos {
  background: #00C4FF;
  /* flex: 3 1 auto; */
  display: flex;
  flex-flow: wrap;
  /* height: 300px; */
  justify-content: space-evenly;
}
.article {
  background: #FFE7A0;
  border: 2px solid black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 padding: 2%;
 gap: 2%;
}
.imagenes img{
  width: 100%;
}
/* .aside {
  background: #98EECC;
  flex: 1 1 auto;
}
.publicidad{
  background: #D0F5BE;
} */



/* FOOTER */
.footer {
  background: #D14D72;
  display: flex;
  justify-content: center;
}
.pie{
  background: #FEF2F4;
  width: 100%;
  

}

/* MOBILE FIRST */
/* 800px */
/* @media screen and (max-width:800px){
  .section {
    flex-direction: column;
  }
  .menu {
    flex-direction: column;
    height: auto;
  }
} */

/* 600px */
/* @media screen and (max-width:600px){
  .articulos {
    flex-direction: column;
  }

} */
/* 400px */
@media only screen and (min-width:400px){
  .article {
    width: 45%;
  }

}



