* {
  margin: 0px;
  padding: 10px;
  box-sizing: border-box;
  font-family: 'Reem Kufi', sans-serif;
}

a{
  text-decoration: none;
}

.padre{
display: flex;
flex-flow: column nowrap;
}
/* HEADER */
.header {
background: url(../imagenes/1portada.jpeg);
background-position:center;
background-attachment: contain;
background-size: cover;
display: flex;
flex-flow: column nowrap;
}
.menu {
background: rgba(0 0 0 1);
display: flex;
flex-flow: row nowrap;
height: 60px;
align-items: center;
border-bottom: 1px solid rgba(255, 255, 255, .5 );
}
.logo {
  flex: 1 1 auto;
}
.logo a{
  color: #bbb ;
  font-size: 30px;
}

.logo a:hover{
  color: #343434;
}


.nav{
  
  flex: 5 1 auto;
  
}
.nav a{
  color: #ffff;
  font-size: 11px;
  text-transform: uppercase;
  padding: 0 10px;
  letter-spacing: 2px;
}
.nav a:hover{
  color: #343434;
}
.social{
  display: flex;
  flex: 1 1 auto;
  
}
.social a{
  font-size: 18px;
  color: #fff;
  padding: 0 5px;
}

.social a:hover{
  color: #343434;
}
.texto-principal{
  background: #F8F1F1;
}
h1{
  background: #F8F1F1;
}



/* SECTION */
.section{
  background: #30A2FF;
  display: flex;
  flex-wrap: wrap;
}
.articulos {
  background: #00C4FF;
  flex: 3 1 auto;
  display: flex;
  flex-direction: column;
  height: 300px;
}
.article {
  background: #FFE7A0;
  flex: 1 1 auto;
}
.aside {
  background: #98EECC;
  flex: 1 1 auto;
}
.publicidad{
  background: #D0F5BE;
}



/* FOOTER */
.footer {
  background: #D14D72;
  display: flex;
  justify-content: center;
}
.pie{
  background: #FEF2F4;
  width: 300px;
  

}

/* MOBILE FIRST */
/* 482px */
@media screen and (max-width:482px){
  .section {
    flex-direction: column;
  }
  .menu {
    flex-direction: column;
    height: auto;
  }

}

/* 768px */
/* @media screen and (max-width:768px){

} */

