* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Reem Kufi', sans-serif;
}

/* MOBILE FIRST */
/* 768px */
@media screen and (min-width:768px){}

/* 992px */
@media screen and (min-width:992px){}

/* 1200px */
@media screen and (min-width:1200px){}